body {
    margin: 0;
}

.no-link-style {
    text-decoration: none;
}

@font-face {
    font-family: 'Zhi Mang Xing';
    src: url("@/assets/ZhiMangXing-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooljazz';
    src: url("@/assets/Cooljazz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}